{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Toutes les séries</h1>
    <a class="btn btn-primary m-3" href="{{ path('program_new') }}">Créer</a>
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-1">Id</th>
                <th class="col-2">Titre</th>
                <th class="col-3">Résumé</th>
                <th class="col-2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr class="d-flex">
                <td class="col-1">{{ program.id }}</td>
                <td class="col-2">{{ program.title }}</td>
                <td class="col-3">{{ program.summary }}</td>
                <td class="col-2">
                    <a class="btn btn-primary" href="{{ path('program_show', {'slug': program.slug}) }}">détail</a>
                    <a class="btn btn-primary" href="{{ path('program_edit', {'slug': program.slug}) }}">édition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
