{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1>{{ program.title }}</h1>
            <h2 class="mt-0">Saison {{ season.number }}</h2>
        </div>
    </div>
    <br>
    <div class="media">
        <div class="media-body">
            <h3 class="mt-0">Episode {{ episode.number }} </h3>
            <h4>{{ episode.title }}</h4>
            <p>{{ episode.synopsis }}</p>
            <a href="{{ path('wild_season', {'id' : season.id}) }}">Retour aux épisodes</a>
            <p></p>
            <a href=" {{ path('show_program', {'slug' : program.slug }) }} ">voir toutes les saisons</a>
            <p></p>
        </div>
    </div>
    <a href="{{ path('wild_index') }}" class="btn btn-primary">
        Retour à l'accueil
    </a>

{% endblock %}