{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1>{{ program.title }}</h1>
            <h2 class="mt-0">Saison {{season.number}}</h2>
            <p>{{ season.year }}</p>
            <p>{{ season.description }}</p>
        </div>
    </div>
    <br>
    <div class="media">
        <div class="media-body">
            {% for episode in episodes %}

            <h3 class="mt-0">Episode {{ episode.number }} </h3>
                <a href="{{ path('wild_episode', {'slug' : episode.slug}) }}">détail de l'épisode</a>
            {%  endfor %}
        </div>
    </div>
    <a href="{{ path('wild_show', {'slug' : program.slug  }) }}">
        Retour à la fiche série
    </a>
    <a href="{{ path('wild_index') }}" class="btn btn-primary">
        Retour à l'accueil
    </a>

{% endblock %}