{% extends 'base.html.twig' %}

{% block header %}
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href={{ path('app_index') }}>Wild Séries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('wild_index') }}" disabled="">Toutes les séries</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" disabled="">Trier par Genre</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "aventure" }) }}">Aventure</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "action"}) }}">Action</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "comedie"}) }}">Comedie</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "fantastique"}) }}">Fantastique</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "horreur"}) }}">Horreur</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "drame"}) }}">Drame</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "science-fiction"}) }}">Science-Fiction</a>
                        <a class="dropdown-item" href="{{ path('wild_category', { 'categoryName' : "thriller"}) }}">Thriller</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a disabled=" " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acteurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('wild_all_actor') }}" >Tous les acteurs</a>

                    </div>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-lg-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes Favoris</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">John Doe</a>
                </li>
            </ul>
        </div>
    </nav>
    </header>
{% endblock %}